<div class="browse-page">
  <div class="browse-header">
    <h1>Genres</h1>
    <p><%= @genres.count %> genres disponibles</p>
  </div>

  <div class="browse-grid">
    <% @genres.each do |genre| %>
      <%= link_to genre_path(genre), class: "browse-card" do %>
        <span class="browse-card__name"><%= genre.name %></span>
        <span class="browse-card__count"><%= genre.animes.count %> animes</span>
      <% end %>
    <% end %>
  </div>
</div>
