<div class="browse-page">
  <div class="browse-header">
    <h1>Studios</h1>
    <p><%= @studios.count %> studios disponibles</p>
  </div>

  <div class="browse-grid">
    <% @studios.each do |studio| %>
      <%= link_to studio_path(studio), class: "browse-card" do %>
        <span class="browse-card__name"><%= studio.name %></span>
        <span class="browse-card__count"><%= studio.animes.count %> animes</span>
      <% end %>
    <% end %>
  </div>
</div>
